@import './variables.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: $mainTextColor;
    font-weight: 400;
    font-size: $fontSizeMainContent;
    line-height: 33px;

    padding-top: 141px;
    padding-bottom: 117px;

    background: url('../../public/images/ikons/layout-bg.svg') 0 0, $backgroundMainGradient;
    background-repeat: no-repeat;
    position: relative;
}

sup {
    font-size: 18px;
    line-height: 0;
}
@media (max-width: 1025px) {
    body {
        padding-top: 125px;
        padding-bottom: 100px;
    }

    sup {
        font-size: 16px;
        line-height: 0;
    }
}

@media (max-width: 680px) {
    body {
        padding-top: 55px;
        padding-bottom: 40px;
    }

    sup {
        font-size: 14px;
    }
}

@media (max-width: 430px) {
    body {
        padding-top: 35px;
        padding-bottom: 30px;
    }
}