@import './variables.scss';

.main {
    max-width: 1380px;
    margin: 0 auto;

    box-shadow: $boxShadow;

    background-color: white;
    padding-bottom: 93px;
}

@media (max-width: 1425px) {
    .main {
        margin: 0 20px;
    }
}

@media (max-width: 850px) {
    .main {
        padding-bottom: 60px;
    }
}

@media (max-width: 430px) {
    .main {
        margin: 0;
    }
}