@import '../../app/variables.scss';

.statistic__wrapper {
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 9px;
}

.statistic__img {
    width: 100%;
    height: 100%;
}