@import '../../app/variables.scss';

.dangerStatistics__wrapper {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 40px;
}

.dangerStatistics__title {
    text-align: center;
    margin-bottom: 42px;
}

.dangerStatistics__list {
    gap: 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

@media (max-width: 1025px) {
    .dangerStatistics__wrapper {
        font-size: 21px;
        margin-bottom: 30px;
    }

    .dangerStatistics__title {
       font-size: 25px;
       margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .dangerStatistics__wrapper {
        font-size: 18px;
    }

    .dangerStatistics__title {
       font-size: 21px;
    }
}

@media (max-width: 680px) {
    .dangerStatistics__wrapper {
        font-size:  15px;
        line-height: 18px;
    }

    .dangerStatistics__title {
        font-size:  18px;
        line-height: 18px;
    }

    .dangerStatistics__list {
        flex-direction: column;
    }
}