@import '../../app/variables.scss';

.description {
    background-image: url('../../../public/images/ikons/header-bg.svg');
    background-repeat: no-repeat;
    padding: 27px 45px 10px ;
}

.description__title {
    margin-bottom: 93px;
    font-size: $fontSizeTitle;
    font-family: $fontFamilyHeaders;
}

.description__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

@media (max-width: 1025px) {
    .description__title {
        margin-bottom: 80px;
    }
}

@media (max-width: 780px) {
    .description__title {
        font-size: 35px;
        margin-bottom: 74px;
    }
}

@media (max-width: 680px) {
    .description {
        padding: 23px 30px 10px;
    }
    
    .description__title {
        margin-bottom: 45px;
        font-size: 35px;
    }
    
    .description__list {
        gap: 30px;
    }
}

@media (max-width: 600px) {
    .description__title {
        font-size: 23px;
    }
}

@media (max-width: 430px) {
    .description {
        padding: 14px 20px 10px;
    }

    .description__title {
        margin-bottom: 35px;
    }

    .description__list {
        gap: 20px;
    }
}