@import '../../app/variables.scss';

.DirectionsSrategy__title {
    text-align: center;
    font-size: 24px;
    line-height: 33px;
}

.DirectionsSrategy__listWrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.DirectionsSrategy__list {
    list-style: none;
    display: flex;
    gap: 30px;
}
