@import '../../app/variables.scss';

.description__item {
    display: flex;
    gap: 29px;

    max-width: 1290px;
    width: 100%;
    
    padding: 40px 29px 40px 38px;
    border-radius: 20px;   
    border: 1px solid $mainTextColor;

    box-shadow: $boxShadow;
    &:nth-child(2n) .description__button {
        background-color: $backgroundColorGradientGreen;
    }

    position: relative;
}

.description__button {
    border: none;

    position: absolute;
    content: '';
    top: -25px;
    right: -20px;
    width: 48px;
    height: 48px;
    background-color: $mainTextColor;
    border-radius: 50%;
    background-image: url('../../../public/images/ikons/hand.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.description__ikon {
    width: 80px;
    height: 80px;
    border-radius: 0 1000px 1000px 1000px;
    background: $backgroundGradientGreen;
    padding: 18px 0 0 18px;
    flex-shrink: 0
}

.description__queryWrapper {
    width: 295px;
    height: 115px;
    -webkit-clip-path: polygon(calc(100% - 40px) 0, 100% 45%, calc(100% - 40px) 100%, 0 100%, 0 0);
    clip-path: polygon(calc(100% - 40px) 0, 100% 45%, calc(100% - 40px) 100%, 0 100%, 0 0);
    background: linear-gradient(265.25deg, #01457a, #43a7c7 43.23%, #bcd77e 74.48%, hsla(78, 53%, 67%, 0));
}

.description__query {
    width: 291px;
    height: 111px;
    -webkit-clip-path: polygon(calc(100% - 41px) 0, 100% 47%, calc(100% - 39px) 101%, 0 100%, 0 0);
    clip-path: polygon(calc(100% - 41px) 0, 100% 47%, calc(100% - 39px) 101%, 0 100%, 0 0);
    background: $backgroundGradientBlue;
    padding-top: 6px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.description__info {
    max-width: 755px;
    max-height: 100px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    position: relative;
    &::after {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        width: 755px;
        height: 50px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1025px) {
    .description__item {
        flex-wrap: wrap;
    }

    .description__queryWrapper {
        width: auto;
        max-width: calc(100% - 140px);
        
        height: auto;
        min-height: 95px;
    }

    .description__query {
        width: auto;
        padding-right: 50px;
        height: auto;
        min-height: 92px;
    }
}

@media (max-width: 600px) {
    .description__item {
        gap: 15px;
        padding: 26px 0px 26px 20px;
    }

    .description__ikon {
        width: 65px;
        height: 65px;
        padding: 12px 0 0 12px;
    }

    .description__query {
        min-height: 75px;
    }
    
    .description__queryWrapper {
        font-size: 16px;
        line-height: 19px;
        min-width: 170px;
        min-height: 75px;
    }
    
    .description__info {
        font-size: 16px;
        line-height: 19px;
    } 
}

@media (max-width: 420px) {
    .description__item {
        padding: 17px 0px 17px 9px;
    }

    .description__button {
        top: -17px;
        right: -15px;
        width: 35px;
        height: 35px;

        background-size: 57%;
    }
}